<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/app.css">
    <title>Thad Lounds</title>
</head>
<body>
    <section class="navbar">
        <ul class="logo"><a href="#">Thad Lounds</a></ul>
        <ul class="nav-links">
            <li class="nav">About</li>
            <li class="nav">Projects</li>
            <li class="nav">Skills</li>
            <li class="nav">Contract</li>
        </ul>
    </section>
    <section class="landing">
        <div class="intro-text">
            <h1>Hey! I'm Thad, I enjoy working in technology & photography</h1>
            <h3>Follow me as I work on my journey to becoming full-time technologiest and Photographer</h3>
            <div class="intro-link">
                <a href="#">GitHub</a>
                <a href="#">Twitter</a>
                <a href="#">Instagram</a>
            </div>
        </div>
    </section>
    <section class="about">
        <div class="about-intro"></div>
        <div class="about-thad">
            <h1><strong>About Thad</strong></h1>
            <h4>I'm a developer/technologist at heart that is currently based in Salt Lake City</h4>
            <h4>My passions are Javascript, Machine Learning and Photograhpy, which all keep me behind a computer screen majority of the time.</h4>
        </div>
        <div class="about-skills">
            <h1>Skills</h1>
            <h4>I like to build/code interesting and engaging projects. I'm always up for a good challenge and constently perfecting my craft. I'm profecient at multiple things, but master of a few.</h4>
            <h4>Tool Belt</h4>
            <ul>
                <li>Javascript</li>
                <li>MongoDB</li>
                <li>SQL</li>
                <li>Node.JS</li>
                <li>React</li>
                <li>TensorFlow.JS</li>
                <li>TensorFlow</li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div class="about-working">
            <h1>Want to Hire Me</h1>
            <h4>Develope </h4>
            <h4>Solve a Problem</h4>
        </div>
    </section>
    <section class="footer">
        <h1>Footer</h1>
    </section>
</body>
</html>